In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import tensorflow as tf

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)
/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
df = pd.read_csv('model_features.csv')

In [3]:
##parse timestamp into different time values

datetimeSeries = pd.to_datetime(df['Current_Time'], unit='s')
df.insert(1,'Microseconds', datetimeSeries.dt.microsecond)
df.insert(1,'Second', datetimeSeries.dt.second)
df.insert(1,'Minute', datetimeSeries.dt.minute)
df.insert(1,'Hour', datetimeSeries.dt.hour)
df.insert(1,'Day', datetimeSeries.dt.day)
df.insert(1,'Week', datetimeSeries.dt.week)
df.insert(1,'Day_Of_Week', datetimeSeries.dt.dayofweek)
df.insert(1,'Month', datetimeSeries.dt.month)
df = df.drop('Current_Time', axis=1)
df.head()

,Packet_Number,Month,Day_Of_Week,Week,Day,Hour,Minute,Second,Microseconds,IP_Address,Packet_Length,Packet_Checksum,Category
0,4,2,2,8,20,22,48,21,107071,192.168.1.157,235,55232,1
1,6,2,2,8,20,22,48,22,212905,192.168.1.162,121,37971,1
2,7,2,2,8,20,22,48,22,240221,74.84.192.134,137,64367,1
3,9,2,2,8,20,22,48,22,950152,192.168.1.157,143,55324,1
4,10,2,2,8,20,22,48,22,963074,192.168.1.162,82,1981,0

In [4]:
#parse IP address into columns
ip_classes = {}                                         #maps each ip part to number of unique values it contains
iPs = df['IP_Address'].str.split('.', expand=True)
index = df.columns.get_loc('IP_Address') + 1
for  i in range(iPs.shape[1]):
    df.insert(i+index,'IPSec' + str(i+1), iPs[i])
    ip_classes['n' + str(i+1) + '_category'] =  df['IPSec' + str(i+1)].unique().size
df.head()

,Packet_Number,Month,Day_Of_Week,Week,Day,Hour,Minute,Second,Microseconds,IP_Address,IPSec1,IPSec2,IPSec3,IPSec4,Packet_Length,Packet_Checksum,Category
0,4,2,2,8,20,22,48,21,107071,192.168.1.157,192,168,1,157,235,55232,1
1,6,2,2,8,20,22,48,22,212905,192.168.1.162,192,168,1,162,121,37971,1
2,7,2,2,8,20,22,48,22,240221,74.84.192.134,74,84,192,134,137,64367,1
3,9,2,2,8,20,22,48,22,950152,192.168.1.157,192,168,1,157,143,55324,1
4,10,2,2,8,20,22,48,22,963074,192.168.1.162,192,168,1,162,82,1981,0

In [5]:
one_hot = False;
cols = ['IPSec1','IPSec2','IPSec3','IPSec4']
if (one_hot):
    #do one-hot encoding for each part of the IP numbers
    df = pd.concat([df,pd.get_dummies(df[['IPSec1','IPSec2','IPSec3','IPSec4']])], axis=1)
else:
    #do categorical encoding for each part of the IP numbers
    for col in cols:
        encoder = preprocessing.LabelEncoder()
        encoder.fit(df[col])
        df[col] = encoder.transform(df[col])
df.head()

,Packet_Number,Month,Day_Of_Week,Week,Day,Hour,Minute,Second,Microseconds,IP_Address,IPSec1,IPSec2,IPSec3,IPSec4,Packet_Length,Packet_Checksum,Category
0,4,2,2,8,20,22,48,21,107071,192.168.1.157,2,0,0,3,235,55232,1
1,6,2,2,8,20,22,48,22,212905,192.168.1.162,2,0,0,4,121,37971,1
2,7,2,2,8,20,22,48,22,240221,74.84.192.134,4,4,3,1,137,64367,1
3,9,2,2,8,20,22,48,22,950152,192.168.1.157,2,0,0,3,143,55324,1
4,10,2,2,8,20,22,48,22,963074,192.168.1.162,2,0,0,4,82,1981,0

In [6]:
##normalize microseconds, packet length and packet_checksum columns
columns = ['Microseconds', 'Packet_Length', 'Packet_Checksum']
for col in columns:
    min_max_scaler = preprocessing.MinMaxScaler()               #create a scaler instance
    float_array = df[col].values.astype(float).reshape(-1,1)
    scaled_array = min_max_scaler.fit_transform(float_array)
    df[col] = pd.DataFrame(scaled_array)

In [7]:
df = df.drop('IP_Address', axis=1)
df.head()

,Packet_Number,Month,Day_Of_Week,Week,Day,Hour,Minute,Second,Microseconds,IPSec1,IPSec2,IPSec3,IPSec4,Packet_Length,Packet_Checksum,Category
0,4,2,2,8,20,22,48,21,0.107084,2,0,0,3,0.138567,0.842954,1
1,6,2,2,8,20,22,48,22,0.212934,2,0,0,4,0.060751,0.579492,1
2,7,2,2,8,20,22,48,22,0.240255,4,4,3,1,0.071672,0.982386,1
3,9,2,2,8,20,22,48,22,0.950297,2,0,0,3,0.075768,0.844359,1
4,10,2,2,8,20,22,48,22,0.963221,2,0,0,4,0.034130,0.030161,0

In [8]:
df.to_csv('new_model_features.csv')

In [ ]:
##if we want to convert to a Tensor
inputs = tf.convert_to_tensor(df_new.values, dtype=np.float32)
with tf.Session() as sess:
    print (sess.run(inputs))